
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">

            <!--control y estado de los LED-->
            <div class="container-fluid">
                
                
                <!-- Etiquetas -->
                <div class="row">
                    <div class="col-xs-3">
                        <h2 class="text-center">Led 1</h2>
                    </div>
                    <div class="col-xs-3">
                        <h2 class="text-center">Led 2</h2>
                    </div>
                    <div class="col-xs-3">
                        <h2 class="text-center">Led 3</h2>
                    </div>
                    <div class="col-xs-3">
                        <h2 class="text-center">Led 4</h2>
                    </div>
                </div>
                
                <!--bombillas-->
                <div class= "row">
                    <div class="col-xs-3">
                        <img id="led1OFF" class="light" src="assets/SVG/Led-apagado.svg" alt="LED ON">
                        <img id="led1ON" class="light hide" src="assets/SVG/Led-iluminado_2.svg" alt="LED OFF" data-state=0>
                    </div>
                    <div class="col-xs-3">
                        <img id="led2OFF" class="light" src="assets/SVG/Led-apagado.svg" alt="LED ON">
                        <img id="led2ON" class="light hide" src="assets/SVG/Led-iluminado_2.svg" alt="LED OFF" data-state=0>
                    </div>
                    <div class="col-xs-3">
                        <img id="led3OFF" class="light" src="assets/SVG/Led-apagado.svg" alt="LED ON">
                        <img id="led3ON" class="light hide" src="assets/SVG/Led-iluminado_2.svg" alt="LED OFF" data-state=0>
                    </div>
                    <div class="col-xs-3">
                        <img id="led4OFF" class="light" src="assets/SVG/Led-apagado.svg" alt="LED ON">
                        <img id="led4ON" class="light hide" src="assets/SVG/Led-iluminado_2.svg" alt="LED OFF" data-state=0>
                    </div>
                </div>
                
                
                <!--controles, empiezan desahabilitados hasta que se conecte a un servidor-->
                <div class="row">
                    <div class="col-xs-3">
                        <label class="switch center-block">
                              <input type="checkbox" id="switch-state-1" disabled data-bind=1>
                              <span class="slider ledSlider disabled-slider round"></span>
                        </label>
                    </div>
                    <div class="col-xs-3">
                        <label class="switch center-block">
                              <input type="checkbox" id="switch-state-2" disabled data-bind=2>
                              <span class="slider ledSlider disabled-slider round" id="switch-2"></span>
                        </label>
                    </div>
                    <div class="col-xs-3">
                        <label class="switch center-block">
                              <input type="checkbox" id="switch-state-3" disabled data-bind=3>
                              <span class="slider ledSlider disabled-slider round" id="switch-3"></span>
                        </label>
                    </div>
                    <div class="col-xs-3">
                        <label class="switch center-block">
                              <input type="checkbox" id= "switch-state-4" disabled data-bind=4>
                              <span class="slider ledSlider disabled-slider round" id="switch-4"></span>
                        </label>
                    </div>
                </div>
            </div>
            
            <div class="accent-separator"></div>
            
            <!--Estado de los pulsadores-->
            <div class="container-fluid">
                
                <div class="row">
                    <div class="col-xs-3">
                        <h2 class="text-center">Pul 1</h2>
                    </div>
                    <div class="col-xs-3">
                        <h2 class="text-center">Pul 2</h2>
                    </div>
                    <div class="col-xs-3">
                        <h2 class="text-center">Pul 3</h2>
                    </div>
                    <div class="col-xs-3">
                        <h2 class="text-center">Pul 4</h2>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-xs-3">
                        <img id="pul1OFF" class="light" src="assets/SVG/pulsador-suelto.svg" alt="boton 1">
                        <img id="pul1ON" class="light hide" src="assets/SVG/pulsador-pulsado.svg" alt="boton 1" data-state=1>
                    </div>
                    <div class="col-xs-3">
                        <img id="pul2OFF" class="light" src="assets/SVG/pulsador-suelto.svg" alt="boton 1">
                        <img id="pul2ON" class="light hide" src="assets/SVG/pulsador-pulsado.svg" alt="boton 1" data-state=1>
                    </div>
                    <div class="col-xs-3">
                        <img id="pul3OFF" class="light" src="assets/SVG/pulsador-suelto.svg" alt="boton 1">
                        <img id="pul3ON" class="light hide" src="assets/SVG/pulsador-pulsado.svg" alt="boton 1" data-state=1>
                    </div>
                    <div class="col-xs-3">
                        <img id="pul4OFF" class="light" src="assets/SVG/pulsador-suelto.svg" alt="boton 1">
                        <img id="pul4ON" class="light hide" src="assets/SVG/pulsador-pulsado.svg" alt="boton 1" data-state=1>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="col-md-6">
            <div class="chart-container">
                <canvas id="VoltChart"></canvas>
            </div>
            
            <!-- control de la grafica-->
            <div class="row" style="margin-top: 30px;">
                <div class="col-xs-3 col-xs-offset-3">
                    <label class="switch center-block">
                          <input type="checkbox" disabled checked id="CH1">
                          <span class="slider disabled-slider round"></span>
                    </label>        
                </div>
                <div class="col-xs-3">
                    <h2 style="margin-top: 5px;">CH1</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-offset-3 col-xs-3">
                    <label class="switch center-block">
                          <input type="checkbox" disabled checked id="CH2">
                          <span class="slider disabled-slider round"></span>
                    </label>        
                </div>
                <div class="col-xs-3">
                    <h2 style="margin-top: 5px;">CH2</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="accent-separator"></div>
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
            <h3>Generar nivel analógico</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 col-xs-offset-1">
            <input style="float:left; width:120px; text-align: right;" class="form-control" type="number" min=0 max=4095 placeholder="0" id="setVoltageValue" disabled>
            <h4 style="float:left;margin:10px" >en el </h4>
            <div style="float:left" class="form-group">
                <select class="form-control" id="channel-selector" disabled>
                    <option value=1 >Canal 1</option>
                    <option value=2>Canal 2</option>
                </select>
            </div>
            <button class="btn btn-default" style="margin-left:10px" id="sendAnalogVoltage" disabled>Enviar</button>
        </div>
        <div class="col-xs-3">
            <h4 id="Current-value">Valor actual: Desconectado</h4>
        </div>
    </div>
</div>

<script>
    var VoltChart = new Chart($("#VoltChart"),{
        type:'line',
        data:{
            labels:['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30'],
            datasets:[{
                data:[1000,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000],
                label:'CH1',
                borderColor:'#47D041',
                fill:false
            },{
                data:[1000,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000],
                label:'CH2',
                borderColor:'#FFFFFF',
                fill:false
            }]
        },
        options:{
            resposive:true,
            maintainAspectRatio:true,
            title: {
                display:true,
                fontColor:'#FFFFFF',
                fontSize:15,
                text: 'Tension en los canales analógicos'
            },
            legend:{
                labels:{
                    fontColor:"#FFFFFF"
                }
            },
            scales:{
                yAxes:[{
                    ticks:{
                        suggestedMin:0,
                        suggestedMax:4095
                    }
                }]
            }
        }
    });
</script>
