<div class="container">
    <div class="row">
        <div class="col-sm-4 col-sm-offset-4 col-xs-10 col-xs-offset-1">
            <label for="IPinput">Direccion IP:</label>
            <input class="form-control" type="text" placeholder="192.168.0.0" id="IPinput">
            <label for="portInput">Puerto:</label>
            <input class="form-control" type="number" min=0 max =65535 placeholder = 1000 id="portInput">
            <button class="btn btn-default center-block" style="margin-top:5px" id="btnconnect">Conectar</button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 col-sm-offset-4 col-xs-10 col-xs-offset-1">
            <h4 id="connectionMsg"></h4>
        </div>
    </div>
</div>
