:root{
    --theme-dark-6: #171717;
    --theme-dark-5: #1F1F1F;
    --theme-dark-4: #2B2B2B;
    --theme-dark-3: #393939;
    --theme-dark-2: #CCCCCC;
    --theme-dark-1: #E6E6E6;
    
    --accent-color: #47D041;
}



body {
    color: white;
    background-color: var(--theme-dark-4);
}



/*Tool bar*/

.EP-navbar{
    position: fixed;
    height: 55px;
    width:100%;
    background-color:var(--theme-dark-5);
    border-bottom-style:solid;
    border-bottom-width: 2px;
    border-bottom-color: var(--theme-dark-6);
    z-index: 999;
}

#title-brand{
    margin-top:5px;
}
#nav-tabs{
    height:55px;
    border-bottom-style: none;
}
#nav-tabs li{
    height:inherit;
    border-radius: 0px;
}

#nav-tabs li a{
    height:inherit;
    color: white;
    font-size: 20px;
    border-radius:inherit;
}
#nav-tabs li a:hover{
    background-color: var(--theme-dark-4);
    border-style: none;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-bottom-color: var(--accent-color);
}
/*====================================================================================================
visual input/output
====================================================================================================*/
.light{
    width:100%;
}

/*grafica*/

#chart-container{
    position:relative;
    width:100%;
}
.graph-control{
    margin-top:5px;
    font-size: 3vw;
}

/*botones*/
.switch {
    position: relative;
    display: block;
    width: 60px;
    height: 34px;
    margin-top: 5px;
}

.switch input {display:none;}

/* slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--theme-dark-2);
    -webkit-transition: .4s;
    transition: .4s;
}
.disabled-slider.slider{
    opacity: 0.5;
    cursor: not-allowed;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: var(--accent-color);
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

/* slider redondo */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/*propiedades generales*/

.accent-separator{
    border-style: solid;
    border-width:2px;
    border-top-color: var(--accent-color);
    border-bottom-color: var(--theme-dark-6);
    border-radius: 50%;
    margin-top:2vw;
    margin-bottom:1vw;
}

.hide{
    display:none;
}

#mainZone{
    position:relative;
    top:85px;
}